## <font color="maroon"><h4 align="center">Read/Write CSV and Excel Files (Exercise)</font>

In [1]:
import pandas as pd

### <font color="purple">**Question1**</font>
- Read the csv file with name "movies_data.csv"
- Show the Top5 rows

In [2]:
df=pd.read_csv('movies_data.csv')
df.head(5)

,movie_id,title,industry,language,release_year,imdb_rating,studio,budget,revenue,unit,currency
0,101,K.G.F: Chapter 2,Bollywood,Kannada,2022,8.4,Hombale Films,1.0,12.5,Billions,INR
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,English,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD
2,103,Thor: The Dark World,Hollywood,English,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD
3,104,Thor: Ragnarok,Hollywood,English,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD
4,105,Thor: Love and Thunder,Hollywood,English,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD

### <font color="purple">**Question2**</font>
- Add a new column "year_classify" to the above dataframe.
- If release_year is less than 2000, then 'before 2000' or else 'From 2000'

In [5]:
df["year_classify"]=df.apply(lambda x:"Before 2000" if x["release_year"]<2000 else "From 2000",axis=1)
df[df["year_classify"]=="Before 2000"]

,movie_id,title,industry,language,release_year,imdb_rating,studio,budget,revenue,unit,currency,year_classify
5,111,The Shawshank Redemption,Hollywood,English,1994,9.3,Castle Rock Entertainment,25.00,73.3,Millions,USD,Before 2000
9,117,Titanic,Hollywood,English,1997,7.9,Paramount Pictures,200.00,2202.0,Millions,USD,Before 2000
10,118,It's a Wonderful Life,Hollywood,English,1946,8.6,Liberty Films,3.18,3.3,Millions,USD,Before 2000
12,120,The Godfather,Hollywood,English,1972,9.2,Paramount Pictures,7.20,291.0,Millions,USD,Before 2000
14,122,Schindler's List,Hollywood,English,1993,9.0,Universal Pictures,22.00,322.2,Millions,USD,Before 2000
15,123,Jurassic Park,Hollywood,English,1993,8.2,Universal Pictures,63.00,1046.0,Millions,USD,Before 2000
21,107,Dilwale Dulhania Le Jayenge,Bollywood,Hindi,1995,8.0,Yash Raj Films,400.00,2000.0,Millions,INR,Before 2000
33,127,Pather Panchali,Bollywood,Bengali,1955,8.3,Government of West Bengal,70000.00,100000.0,Thousands,INR,Before 2000

### <font color="purple">**Question3**</font>

- Save the above dataframe with the name "final_movie_data.csv" and include only columns 'movie_id', 'title', 'budget', 'revenue' and 'year_classify'. Also set index to False**.

In [8]:
df.to_csv('final_movie_data.csv',columns=['movie_id','title','budget','revenue','year_classify'],index=False)